* {
    
}

body {
    background-color: lightgrey;
}

#sideBar {
    width: fit-content;
}

#content {
    background-color: darkcyan;
    display: flex;
    width: 100%;
}

#content button {
    align-items: center;
    width: 20%;
    height: auto;
}

.form-floating {
    margin-bottom: 8px;
}

.form-select {
    margin-bottom: 12px;
}

.card {
    margin-top: 15%;
}

#search-btn {
    width: 100%;
}